/* Regular Button Styles: */
button.defaultBtn,  button.modalBtn,  button.largeBtn, 
a.linkBtn, a.modalLinkBtn, a.largeLinkBtn {
	background: $buttonColor;
	color: #fff;
	padding: 0;
}

button.defaultBtn span,
button.modalBtn span,
button.largeBtn span,
a.linkBtn span,
a.modalLinkBtn span,
a.largeLinkBtn span {
	background: $buttonColor; 
	border-radius: 0;
	font-family: $headingFontFamily;
	padding: 0 6px;

	&:hover {
		background: lighten($buttonColor, 10%);
	}
}

button.defaultBtn {
	width: 111px;
}

/* Alt Button Styles: */
button.altBtn, button.altModalBtn,  button.altLargeBtn, 
a.linkAltBtn,  a.modalLinkAltBtn  {
	background: $altButtonColor;
	color: #fff;
	padding: 0;
}

button.altBtn span,
button.altModalBtn span,
button.altLargeBtn span,
a.linkAltBtn span,
a.modalLinkAltBtn span {
	background: $altButtonColor;
	border-radius: 0;
	font-family: $headingFontFamily;
	padding: 0 6px;

	&:hover {
		background: lighten($altButtonColor, 10%);
	}
}