.wrapper{
	margin: 0 auto;
	position: relative;
	width: $maxWidth;

	@media screen and (max-width: $maxWidth) {
		width: 96%;
		margin: 0 2%;
	}
}

#v65-modalContentHeader{
	background: #333;
}

.content{
	background: #fff;
	-webkit-box-shadow: 0 0 20px $boxShadowColor;
	-moz-box-shadow: 0 0 20px $boxShadowColor;
	box-shadow: 0 0 20px $boxShadowColor;
}

.subContent{
	background: #f8f8f8;
	border-bottom: 1px solid #333333;
	// -webkit-box-shadow: 0 0 20px $boxShadowColor;
	// -moz-box-shadow: 0 0 20px $boxShadowColor;
	// box-shadow: 0 0 20px $boxShadowColor;
}

.pageContent{
	@media screen and (max-width: 767px){
		padding: 1em;
	}
	
	@media screen and (min-width: 768px){
		padding: 3em;
	}
}

.newsletterSignup {
	border-bottom: 1px solid #333333;
	-webkit-box-shadow: 0 0 20px $boxShadowColor;
	-moz-box-shadow: 0 0 20px $boxShadowColor;
	box-shadow: 0 0 20px $boxShadowColor;
	padding: 2em 0;
	text-align: center;

	.v65-podTitle {
		@extend h2;
		color: $footerFontColor;
		margin-bottom: 0.5em;
	}

	input {
		background: none;
		border-color: $signupButtonColor;
		width: 200px !important;

		@media screen and (max-width: 360px) {
			width: 50% !important;
		}
	}

	.defaultBtn, .defaultBtn span {
		background: $signupButtonColor;
	}
		.defaultBtn span:hover {
			background: lighten($signupButtonColor, 10%);
		}
}


/* ----- a. Homepage Styles ----- */
@import 'content_home';

/* ----- b. Page Styles ----- */
@import 'content_page';

/* ----- c. Store Styles ----- */
@import 'content_store';