/* ----- a. Main Menu ----- */
.mainMenu{
	background: $backgroundColor;
	border-bottom: 1px solid $borderColor;
	border-top: 1px solid $borderColor;
	@include shadow(#000);
	font-size: 14px;
	height: 44px;
	line-height: 44px;
	position: relative;
	width: 100%;
	z-index: 101;

	@media screen and (max-width: 580px){
		// Show Menu with triple bar, hide main ul.
	}

	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		text-align: center;

		@media screen and (max-width: 580px) {
			display: none;
			top: 1px;
		}

		ul{
			border: 1px solid #ccc;
			background: #fff;
			display: none;
			font-size: 12px;
			left: -10px;
			position: absolute;
			top: 32px;
			width: 180px;
		}
	}

	li{
		display: inline-block;
		padding: 0;
		position: relative;

		@media screen and (max-width: 767px){
			margin: 0 10px;
		}

		@media screen and (min-width: 768px) and (max-width: 819px){
			margin: 0 0 0 35px;
		}

		@media screen and (min-width: 820px){
			margin: 0 0 0 50px;
		}

		@media screen and (max-width: 580px) {
			background: $backgroundColor;
			border-bottom: 1px solid;
			display: block;
			margin: 0;
		}

		&:first-child{
			margin-left: 0;
		}

		// Drop Down
		&:hover ul{
			@media screen and (min-width: 768px){
				display: block;
			}
		}

		li{
			display: block;
			float: none;
			margin: 0;
			text-align: left;
			width: 180px;

			a{
				color: #333;
				display: block;
				height: 28px;
				line-height: 28px;
				margin: 0;
				padding: 0 0 0 10px;
				text-align: left;
				text-transform: none;
				width: 170px;

				&:hover{
					color: #000;
				}
			}
		}
	}

	a{
		color: $headerFontColor;
		display: inline-block;
		margin: 0;
		padding: 0;
		position: relative;
		text-decoration: none;

		@media screen and (max-width: 767px){
			height: 44px;
			line-height: 44px;
			padding: 0 0.5em;
		}

		@media screen and (min-width: 768px){
			height: 32px;
			line-height: 32px;
		}

		&:hover{
			color: $headerFontColorHover;
			text-decoration: none;
		}
	}

	.v65-pageAParent{
		color: $headerFontColorHover
	}

	.v65-home{
		@media screen and (max-width: 919px){
			display: none;
		}
	}

	.v65-selected{
		color: $headerFontColorHover;
		font-weight: bold;
	}

	.mobileMenuLink{
		display: none;
		font-size: 1.5em;
		position: relative;

		@media screen and (max-width: 580px){
			display: block;
		}
	}
}

/* ----- b. Sub Menu ----- */
.subMenu{
	margin-bottom: 0;
	margin-top: 6%;

	@media screen and (min-width: 768px){
		border-right: 1px solid #ccc;
		float: left;
		margin-right: 4%;
		padding-right: 2%;
		width: 17.5%;
	}

	h3{
		@media screen and (max-width: 767px){
			display: none;		
		}
	}

	ul{
		list-style: none;
		margin-bottom: 0;
		padding: 0;
	}

	li{
		line-height: 3;

		@media screen and (max-width: 767px){
			border-top: 1px solid #ccc;
			line-height: 44px;
			text-align: center;
		}

		ul{
			margin-left: 10px;
		}
	}

	a{
		display: inline-block;
		line-height: 1.5;
		width: 100%;
	}

	.v65-pageAParent {
		color: #000;
	}

	.v65-leftSelected{
		color: #000;
		font-weight: bold;
	}

}