@import 'themes/themeSettings_default';
// @import 'themes/themeSettings_black';

// Global Fonts
$fontFamily: Georgia, serif;
$headingFontFamily: 'Kameron', serif;

// Global Variables
$maxWidth: 820px;
$innerWidth: 575px;

$fontColor: $fontColor;
$fontFamily: $fontFamily;

$altFontColor: $altFontColor;

$headingFontFamily: $headingFontFamily;
$headingColor: $fontColor;

$userToolsBackgroundColor: $headerFooterBackgroundColor; //Background Color for usertools
$userToolsColor: $altFontColor; //Font Color for usertools
$userToolsLinkColor: $buttonColor; //Font Color for usertools
$userToolsHoverColor: lighten($altFontColor, 10%); //Font Color for usertools

$buttonFontColor: #fff; // Default Color for Button Font
$altButtonFontColor: #fff; // Alt Color for Buttons Font

$primaryContentBackgroundColor: #fff; //Main Content/Primary on Homepage
$secondaryContentBackgroundColor: #f8f8f8; //Secondary on Homepage

@mixin boxSizing{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin shadow($color) {
	-webkit-box-shadow: 0 5px 25px -12px $color;
	-moz-box-shadow: 0 5px 25px -12px $color;
	box-shadow: 0 5px 25px -12px $color;
}

.hideText{
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	
	a{
		display:block;
		height:100%;
	}
}