$headerFooterBackgroundColor: #333;

$buttonColor: #2185c5;
$altButtonColor: #777;
$signupButtonColor: #808080;

$topBarColor: #404040;
$borderColor: #bfbfbf;
$backgroundColor: #333; //Header, Newsletter & Footer Background

$fontColor: #333; // Font Color for Content
$altFontColor: #333; // Font Color for Header/Footer
$linkColor: $buttonColor;
$headingFontColor: #bfbfbf; // Default Heading Font Color

$headerFontColor: #bfbfbf; //Font Color outside the container
$headerFontColorHover: lighten($headerFontColor, 40%); // Hover font color outside the container

$footerFontColor: #bfbfbf; //Font Color outside the container
$footerFontColorHover: lighten($footerFontColor, 40%); // Hover font color outside the container
$footerInfoColor: #404040;

$boxShadowColor: #999; // Box Shadow Color